<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Próximamente</title>
</head>
<body>
<!-- El contenido se insertará en el fragmento "content" del layout -->
<div layout:fragment="content" class="container my-5">
    <div class="row justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="col-md-8 text-center">
            <div class="card bg-dark text-light p-5 shadow">
                <h1 class="display-4 fw-bold mb-4">Pronto estará disponible la seccion de Membresias</h1>
                <div class="mt-4">
                    <a href="/" class="btn btn-morado">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>